<script src="static/js/admincp.js"></script>
<script src="{$static_path}/js/jquery.min.js"></script>
<body  id="test">

    <table class="tb tb2">
        <tbody>
        <tr>
           <td>插件功能</td>
            <td>版本</td>
            <td>状态</td>
            <td>操作</td>
        </tr>
        <!--{loop $pluginsInfo $key $plugin}-->
        {eval echo '<tr>';}
            {eval
            echo '<td><span class="bold">'.$plugin[nick_name].'</span>';
                echo '<p><span class="light">'.$plugin[plugin_desc].'</span></p></td>';
            echo '<td>'.$plugin[version].'</td>';
            }

            <!--{if  $plugin['activation'] == 'true' }-->
                <!--{if $plugin['status'] == 'true'  }-->
                {eval
            echo '<td>开启</td>';
            echo '<td><a type="button"  style="margin-right:2%" class="btn" href="' . $plugin['href'] . '" type="button">配置</a>';
            echo '<input type="hidden" value="'.$plugin['plugin_id'].'" name="tencentconfig[pluginId]"/>';
            echo '<input type="hidden" value="disable" name="tencentconfig[operation]"/>';
                echo '<a type="button"  style="margin-right:2%" class="btn" href="admin.php?action=plugins&operation=config&do='.$currentluginId.'&tcplugin='.$plugin['plugin_id'].'&tcoperation=disable" type="button">关闭</a></td>';
            }

            <!--{else}-->
            {eval
            echo '<td>关闭</td>';
            echo '<td><input type="hidden" value="'.$plugin['plugin_id'].'" name="tencentconfig[pluginId]"/>';
            echo '<input type="hidden" value="enable" name="tencentconfig[operation]"/>';
                echo '<a type="button"  style="margin-right:2%" class="btn" href="admin.php?action=plugins&operation=config&do='.$currentluginId.'&tcplugin='.$plugin['plugin_id'].'&tcoperation=enable" type="button">开启</a></td>';
            }
            <!--{/if}-->

            <!--{else}-->
                {eval
            echo  '<td>未安装</td>';
            echo  '<td><a type="button" class="btn" href="admin.php?action=cloudaddons">安装</a></td>';
            }
            <!--{/if}-->
            {eval echo '</tr>';}
        <!--{/loop}-->
        </tbody>
    </table>
    <br>
    <br>
    <div style="text-align: center" >
        <a href="https://openapp.qq.com/" target="_blank">文档中心</a> | <a href="https://github.com/Tencent-Cloud-Plugins/" target="_blank">GitHub</a> | <a
            href="https://support.qq.com/product/164613" target="_blank">反馈建议</a>
    </div>


</body>

